
{{#data}}
{{#userApp}}
<div class="overlay" id="RPById-overlay">
    <div class="alertContent">
        <div class="alertContent-div">
            <div class="left">
                 userName:
            </div>
            <div class="left div-left">
                {{userName}}
            </div>
        </div>
        <div class="alertContent-div">
            <div class="left">
                englishName:
            </div>
            <div class="left div-left">
                {{english_name}}
            </div>
        </div>
        <div class="alertContent-div">
            <div class="left">
                chineseName:
            </div>
            <div class="left div-left">
                {{chinese_name}}
            </div>
        </div>
        <div class="Cpw-li-div" >
            <button  class="rePs-btn" data-role="none" id="sure-btn">Ok</button>
        </div>
        <div class="close close-div"></div>
    </div>
</div>
{{/userApp}}
{{/data}}
